.booking {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    padding: 20px;
    height: 500px;
}
.booking-info {
    box-shadow: 5px 5px 5px 5px gray;
    padding: 10px;
    color: forestgreen;
}
.booking-info p {
    color: teal;
}
.booking-info h2 {
    color: rgba(92, 134, 8, 0.801);
}
.booking img {
    width: 390px;
    height: 270px;
    border-radius: 5px;
}
.user-info {
    color: tomato;
    margin: 10px;   
    padding: 5px;
}
.input-form {
    margin-left: 40px;
    padding: 10px;
    border: 1px solid gray;
}
.input-form input {
    margin: 10px;
}