.link-style {
    text-decoration:none;
    margin: 10px;
    padding: 10px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}
.logout {
    color: white;
    background-color: forestgreen;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}